.bw {
height: 800px;
background-image: url("img/mac.jpg.png");
background-color: rgb(50, 50, 50);
background-position: top;
background-repeat: no-repeat;
background-size: cover;
}


h4 {
font-size: 6rem;
text-transform: uppercase;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h5 {
font-size: 2rem;
}

h1, h5 {
text-transform: uppercase;
color: white;
}

.image {
height: 1000px;
}

.img-fluid {
height: 100%;
width: 100%;
object-fit: cover;
}

.footer {
background-color: black;
color: #fff;
}